@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600;700&display=swap');

$blue: #00ABE9;
$white: #ffffff;
$dark: #332E33;
$black: #000000;
$orange: #F7970C;

$IBM: 'IBM Plex Sans', sans-serif;
$IBW400: 400;
$IBW400: 600;
$IBW400: 700;

// --------------- BODY ----------------------

body {
  // height: 100vh;
}

// --------------- SECTIONS ----------------------


// --------------- NAVIGATION ----------------------
nav {
  background-color: $blue;
}

.navbar-light .navbar-toggler {
  color: $blue;
  border-color: $blue;
}

.nav-link {
  color: $white;
}

a.navbar-brand>img {
  width: 50px;
}

.navbar-toggler {
  border: 2px solid $white;
  outline: none !important;
  box-shadow: none !important;
}
.custom-toggler .navbar-toggler-icon {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
border-color: $white;
} 
// --------------- PARALLAX SCROLL ----------------------
// .parallax{
//   background-image: url("Geometric_vector_moblie copy.png");
// }

// .scrollpage{
//   height:1000px;
//   background-color:red;
//   font-size:36px
// }

// --------------- FONTS/ TEXT ----------------------
h1{
  color: $blue;
  text-align: center;
  font-size: 38px;
  font-weight:700;
}

h2{
  font-size: 41px;
  text-align: center;
}

// --------------- BUTTONS ----------------------


// --------------- IMAGE ----------------------
.bao{
  padding: 20px 20px 20px 20px;
}

// --------------- Form ----------------------
form {
  padding: 20px;
}

// --------------- FOOTER ----------------------
footer {
  // position: absolute;
  // bottom: 0;
}

main {position: relative;}

